<mat-dialog-content class="game-modal-content">
  <div class="game-details">
    <h2 class="game-name">{{ data.name }}</h2>
    <h3 class="game-price">{{ data.price | currency:'CLP':true }}</h3>
    <p class="game-discount">Descuento: {{ data.discount }}%</p>
    <div class="game-image-container">
      <img [src]="data.image" alt="{{ data.name }}" class="game-image">
    </div>
    <p class="game-description">{{ data.description }}</p>
  </div>
  <div class="game-actions">
    <button mat-button mat-dialog-close>Cerrar</button>
  </div>
</mat-dialog-content>
